.films {
  position: absolute;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: #000;
  transition: all 0.3s ease-in;
  opacity: 0.8;
  z-index: 30;
  overflow: hidden;
  overflow-y: scroll;
  .close-btn {
    position: absolute;
    z-index: 10;
    left: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    opacity: 0;
    &.expand {
      cursor: pointer;
      animation: slide 1s ease-out 0.8s;
      animation-fill-mode: forwards;
    }
  }
  table {
    opacity: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    caption {
      font-size: 25px;
      margin: 20px 0;
      opacity: 0;
    }
    thead {
      margin: 30px 0;
      // font-size: 16px;
    }
    tr {
      // padding: 30px 0;
    }
  }
  &.expand {
    width: 75%;
    table {
      animation: slide 1s ease-out 0.8s;
      animation-fill-mode: forwards;
      caption {
        animation: slide 1s ease-out 0.5s;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}